/*
 * Custom CSS.
 * Bootstrap overrides. 
 */

body {
  font-size: 16px !important;
}

#wrapper {
  padding-right: 15%;
}

#sidebg-wrapper {
  margin-right: -15%;
  top: 0px;
  right: 15%;
  width: 15%;
  position: fixed;
  height: 100%;
  background: 
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
}
