/*
 * Custom CSS.
 * Bootstrap overrides. 
 */

body {
  font-size: 16px !important;
}

.container {
  padding-top: 25px;
  padding-bottom: 35px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:85%;
    text-align: center;
    visibility: hidden;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 90%;
}

#wrapper {
  padding-right: 15%;
}

#sidebg-wrapper {
  margin-right: -15%;
  top: 0px;
  right: 15%;
  width: 15%;
  position: fixed;
  height: 100%;
  border-left: 2px inset black;
  background: 
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
}
