<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body style="background: white">
      <div class="container">


          <div class="row">
            <h1><a href="/">{{ site.name }}</a><small> rambles and babbles.</h1>
          </div>
        
      <div class="row">
            {{ content }}
      </div>

      <div class="row">
          <blockquote>
            <p>andrew.</p>
            <small>github.com/aspalding</small>
          </blockquote>
      </div>

      </div>
    </body>


<div style="position: fixed; top: 0px; left:85%; width:15%; height:100%; 
background: 
radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
background-color: slategray;
background-size:75px 100px;"></div>

</html>
