---
layout: default
---


<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
{{ content }}


<ul class="pager">
{% if page.previous.url %}
  <!--<a class="btn btn-default btn-xs pull-left" href="{{page.previous.url}}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{page.previous.title}}
  </a>-->
  <li class="previous"><a href="{{page.previous.url}}">&larr; {{page.previous.title}}</a></li>

{% endif %}
{% if page.next.url %}
  <!--<a class="btn btn-default btn-xs pull-right" href="{{page.next.url}}">
    {{page.next.title}}<span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->

  <li class="next"><a href="{{page.next.url}}">{{page.next.title}} &rarr;</a></li>

{% endif %}
</ul>
